#profile-container {
	height: 20vh;
	width: calc(100% - 4vw);
	padding: 2vw;
}

#profile-img {
	position: relative;
	float: left;
	left: 0;
	height: 20vh;
	width: 20vh;
}

#profile-info {
	position: relative;
	float: left;
	height: 100%;
	width: calc(100% - 20vh);
}