@font-face {
    font-family: "aileron-regular";
    src: url("/font/aileron/Aileron-Regular.otf");
}

@font-face {
    font-family: "aileron-black";
    src: url("/font/aileron/Aileron-Black.otf");
}

@font-face {
	font-family: "aileron-light-italic";
	src: url("/font/aileron/Aileron-LightItalic.otf");
}

@font-face {
	font-family: "aileron-ultralight";
	src: url("/font/aileron/Aileron-UltraLight.otf");
}

body {
	font-family: aileron-regular, sans-serif;
	margin: 0;
	padding: 0;
	background: #F9F9F9;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #F9F9F9;
	width: 60%;
	margin: 0 20%;
	padding: 0;
	text-align: center;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 4%;
	background: #CCC;
}

.navbar-icon {
	display: block;
	width: 100%;
	margin: 0;
	border: 0;
	text-align: center;
	margin: 3vh 0;
	color: #666;
	font-size: 1.6em;
	cursor: pointer;
	text-decoration: none;
}

header {
	position: relative;
	height: 10vh;
	float: left;
	width: 100%;
	background: #AAA;
}

#header-title {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 8.3vh;
	color: #F9F9F9;
	font-family: aileron-ultralight;
	text-shadow: 0.1vw 0.1vw 5px #888;
}

#content {
	position: relative;
	float: left;
	width: 80%;
	margin: 0 10%;
}

footer {
	position: relative;
	float: left;
	padding: 0.5vw;
	height: 10vh;
	width: calc(100% - 1vw);
	background: #AAA;
	color: #F9F9F9;
}

#footer-row-1 {
	height: 70%;
	width: 100%;
	text-align: center;
	vertical-align: bottom;
}

#footer-row-2 {
	height: calc(30% - 0.75vh - 2px);
	margin-top: 0.75vh;
	width: 100%;
	text-align: center;
	color: #666;
}

sm { font-size: 80%; }

#main {
	position: relative;
	width: 96%;
	left: 4%;
}

.img-circle { border-radius: 50%; }