a {
	text-decoration: none;
}

.content-block {
	display: block;
	position: relative;
	margin: 1.25vw;
	padding: 0.5vw;
	float: left;
	width: calc(100% - 3.5vw);
	background: #DFDFDF;
	box-shadow: 0.1vw 0.1vw 5px #888;
}

.content-header {
	display: block;
	position: relative;
	width: calc(100% - 2.5vw);
	float: left;
	margin: 1.25vw;
	margin-bottom: 0;
	text-align: center;
	font-family: aileron-light-italic;
	font-size: 5vh;
}

.content-header::before { content: "• "; }
.content-header::after  { content: " •"; }