<div class="outline" #outline></div>
<div class="window" #window>
  <div class="header unselectable">
    <img src="/assets/img/{{ icon }}" draggable="false" (mousedown)="moveMouseDown($event)" (touchstart)="moveTouchStart($event)">
    <span class="title" (mousedown)="moveMouseDown($event)" (touchstart)="moveTouchStart($event)">{{ title }}</span>
    <span class="titlebar-icon" (click)="doWindowAction('minimize')">0</span>
    <span class="titlebar-icon" (click)="doWindowAction('resize')">1</span>
    <span class="titlebar-icon" (click)="doWindowAction('close')">r</span>
  </div>
  <div class="navbar" *ngIf="true">
    <div class="dropdown" *ngFor="let menu of menus">
      <button class="dropdown-button" (click)="onMenuTabSelect(menu.name)">
        {{ menu.name }}
      </button>
      <div class="dropdown-content" [hidden]="selectedMenu != menu.name">
        <a (click)="onMenuSelect(item.action)" *ngFor="let item of menu.items">{{ item.name }}</a>
      </div>
    </div>
  </div>
  <div class="content-container unselectable">
    <div class="content" [innerHTML]="htmlContent | safeHtml"></div>
  </div>
  <div class="resize-bottom" (mousedown)="resizeMouseDown($event, 'bottom')"
    (touchstart)="resizeTouchStart($event, 'bottom')"></div>
  <div class="resize-bottom-left" (mousedown)="resizeMouseDown($event, 'bottom-left')"
    (touchstart)="resizeTouchStart($event, 'bottom-left')"></div>
  <div class="resize-bottom-right" (mousedown)="resizeMouseDown($event, 'bottom-right')"
    (touchstart)="resizeTouchStart($event, 'bottom-right')"></div>
  <div class="resize-top" (mousedown)="resizeMouseDown($event, 'top')" (touchstart)="resizeTouchStart($event, 'top')">
  </div>
  <div class="resize-top-left" (mousedown)="resizeMouseDown($event, 'top-left')"
    (touchstart)="resizeTouchStart($event, 'top-left')"></div>
  <div class="resize-top-right" (mousedown)="resizeMouseDown($event, 'top-right')"
    (touchstart)="resizeTouchStart($event, 'top-right')"></div>
  <div class="resize-left" (mousedown)="resizeMouseDown($event, 'left')"
    (touchstart)="resizeTouchStart($event, 'left')"></div>
  <div class="resize-right" (mousedown)="resizeMouseDown($event, 'right')"
    (touchstart)="resizeTouchStart($event, 'right')"></div>
</div>