<div class="menu-container" [hidden]="!menuOpen">
  <app-start-menu></app-start-menu>
</div>

<div class="taskbar">
  <div class="tab" [class.tab-selected]="menuOpen" (click)="menuClicked()">
    <img src="/assets/img/windows.ico" />
    <span>Start</span>
  </div>
  <div class="tab" *ngFor="let tab of tabs" [class.tab-selected]="!getTabById(tab.id).minimized"
    (click)="tabClicked(tab.id)">
    <img src="{{ tab.icon }}" />
    <span>{{ tab.title }}</span>
  </div>
  <div class="tab-filler"></div>
  <div class="tab tab-selected">{{ time | date:'shortTime' }}</div>
</div>