.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.app-container > app-desktop {
  flex: 1;
}

.app-container > app-taskbar {
  flex: 0;
}
