$w95-red:  	     #e35f5f;
$w95-blue:       #000082;
$w95-gray-light: #c3c3c3;
$w95-gray-dark:  #6c6c6c;
$w95-yellow:     #dfe300;
$w95-green:      #208c71;
$w95-teal:       teal;

$w95-gray-0: #808080;
$w95-gray-1: #c0c0c0;